# System files
thumbs.db
desktop.ini
*.log
.DS_Store

# Node modules
node_modules/

# IDEs
.vscode/
.idea/

# Firebase
.firebase/
# Explicitly allow .firebaserc even if ignored by global rules
!/.firebaserc

# LARGE FILES / BACKUPS
*.rar
*.zip
*.7z

# SERVER COMPONENT (Separate deploy)
whatsapp-server/
